<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">
  
  <div id="content">

    <div class="row-fluid" template="board-page">
      <div class="span6">
	<div id="board">
	  <div id="slots">
	    <div template="slot" field="id:id">
	      <span class="label">Name</span>
	      <span field="content:action">One Grain</span>
	      <span class="label">Played</span>
	      <span field="content:performed">False</span>
	    </div>
	  </div>
	</div>
      </div>

      <div id="players" class="span6">
	<div template="player" field="id:id" class="row-fluid">
	  <div class="player-info row-fluid">
	    <span class="label">Name</span>
	    <span field="content:name">Bryn!</span>

	    <span class="label">Family Members</span>
	    <span field="content:family">Bryn!</span>

	    <span class="label">Starting Player</span>
	    <span field="content:starting-player">Bryn!</span>

	    <span class="label">Resources</span>
	    <span field="content:resources">Bryn!</span>
	  </div>


	  <div class="player-board row-fluid">
	    <div class="span4 player-board-space" template="board-space" field="id:id">
	      <span field="content:space">Empty space</span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

</_within>
