<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">
  
  <div id="content">

    <div template="board-page">
      <div class="row">

	<div class="col-md-6">
	  <div id="board">
	    <div id="slots" class="row">
	      <div class="col-md-12 action-slot" template="slot" field="id:id">
		<h3><small>Action</small> <span field="content:action"/></h3>
		<h5><small>Played</small> <span field="content:performed"/></h3>
	      </div>
	    </div>
	  </div>
	</div>
      
	<div id="players" class="col-md-6">
	  <div template="player" field="id:id" class="row">
	    <div class="player-info col-md-12">
	      <h4><small>Name</small>&nbsp;<span field="content:name">Bryn!</span></h4>
	      <h4><small>Family Members</small>&nbsp;<span field="content:family">Bryn!</span></h4>
	      <h4><small>Starting Player</small>&nbsp;<span field="content:starting-player">No</span></h4>
	      <h4><small>Resources</small>&nbsp;<span field="content:resources">{:cow 1}</span></h4>
	    </div>
	    
	    
	    <div class="player-board col-md-12">
	      <div class="col-md-4 player-board-space" template="board-space" field="id:id">
		<span class="number" field="content:number">9001</span>
		<span field="content:space">Empty space</span>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

</_within>
